%div#login
	%h1 HomeStyle
	%p Welcome to homestyle. Please, have a piece of pie.
	%img#home(src="assets/pieglove.png")
	- if current_user
		=link_to "Sign out", destroy_user_session_path, method: :delete
	-else
		=link_to "Sign in", new_user_session_path

	/ %p Find me in app/views/static/index.html.haml
